%h3 StackProf Navigator
%hr

%p
  Viewing S3 bucket at 
  %b= @file

%table.centered                     
  %thead                            
    %th Key                     
    %th Date                           
    %th Size
    %th Dump
                                   
  %tbody
    - @dumps.each do |dump|                       
      %tr                                           
        %td= dump[:key]                          
        %td= dump[:date]                      
        %td= dump[:size]
        %td                                         
          %a{:href => overview_url(dump[:uri])}   
            = dump[:uri]                        
