%h3 StackProf Navigator - #{@action} (#{@frames.count} frames)
%hr

%p
  %a{:href => url_for("/overview")} &#8592; Back to overview

- @frames.each do |frame|
  %a{:href => url_for("/file", path: frame[:location])}
    %button.btn
      Browse
      = frame[:location]

  - if frame[:callers].any?
    %table
      %thead
        %th Callers
        %th
        %th
        %th
      %tbody
        - frame[:callers].each do |caller|
          %tr
            %td
            %td= caller[:weight]
            %td= caller[:pct]
            %td
              %a{:href => url_for("/method", name: caller[:method])}
                = caller[:method]

  - if frame[:callees].any?
    %table
      %thead
        %th Callees
        %th
        %th
        %th
      %tbody
        - frame[:callees].each do |caller|
          %tr
            %td
            %td= caller[:weight]
            %td= caller[:pct]
            %td
              %a{:href => url_for("/method", name: caller[:method])}
                = caller[:method]

  %h4 Code
  != frame[:source]
  %hr
