%h3 StackProf Navigator - #{@action} (#{@frames.count} frames)
%hr

%p
  Viewing dump
  %b= current_dump.path

%a{href: "/"}
  %button.btn Browse directory


%a{href: url_for("/graph")}
  %button.btn View call graph

- if current_report.data[:raw]
  %a{href: url_for("/flamegraph")}
    %button View flamegraph
- else
  %a{href: "https://github.com/tmm1/stackprof#all-options"}
    %button.secondary Flamegraph is not available

%table.centered
  %thead
    %th Total
    %th %
    %th Samples
    %th %
    %th
      Method
      %input.filter{:placeholder => "filter methods", :type => "text"}/

  %tbody
    - @frames.each do |frame|
      - # Filter keys are preprocessed to better match acronyms.
      %tr{"data-filter-key" => frame[:method].gsub(/[A-Z]/, " \\0").gsub(/[\W_]+/, " ").strip}
        %td= frame[:total]
        %td= frame[:total_pct]
        %td= frame[:samples]
        %td= frame[:samples_pct]
        %td
          %a{:href => url_for("/method", name: frame[:method])}
            &= frame[:method]

%script{src: "lib/string_score.js"}
%script{src: "overview.js"}
