%h3 StackProf Navigator - #{@action} (#{@frames.count} frames)
%hr

%p
  Viewing dump
  %b= current_dump.path

%a{href: "/"}
  %button.btn Browse directory

- if current_report.data[:raw]
  %a{href: url_for("/flamegraph")}
    %button.btn View flamegraph

%a{href: url_for("/graph")}
  %button.btn View graph

%table.centered
  %thead
    %th Total
    %th %
    %th Samples
    %th %
    %th Method

  %tbody
    - @frames.each do |frame|
      %tr
        %td= frame[:total]
        %td= frame[:total_pct]
        %td= frame[:samples]
        %td= frame[:samples_pct]
        %td
          %a{:href => url_for("/method", name: frame[:method])}
            = frame[:method]
